site_name: Xitee's Docs
site_url: https://docs.xitma.de
theme:
  name: material
  custom_dir: overrides
  features:
    - search.highlight
    - navigation.tabs
  palette:
    - scheme: slate
      toggle:
        icon: material/weather-sunny
        text: Toggle dark mode

    - scheme: default
      toggle:
        icon: material/weather-night
        text: Toggle light mode

repo_url: https://github.com/Xitee1/xitee1.github.io
repo_name: Xitee1/xitee1.github.io

plugins:
  - search
  # - privacy:
  #     external_assets_exclude: 
  #       - cdn.jsdelivr.net/npm/mathjax@3/* 
  #       - giscus.app/*
  - blog
  - meta
  - awesome-nav
  - git-revision-date-localized:
      type: timeago
      fallback_to_build_date: false
      enable_creation_date: true

markdown_extensions:
  - attr_list
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - pymdownx.tabbed:
        alternate_style: true
  - admonition
  - pymdownx.details
